extends layout.pug

block content
	form(method = "post" action = "/admin/editPrereq")
		if courseSelected == 0
			p Select a course from the following drop down menu.
	
			div.form-group
				select(name="course_selected")
					option(value="void") #{"Select a course"}
						each course in courses
							option(value=course, selected = courseSelected == course.course_id) #{course.dept_abbv} #{course.course_num} - #{course.course_name}
			div.form-group
				button(name = "button_id" value = "select" type = "submit") Select
		else
			p Modifying prerequisites for #{selected_course.dept_abbv} #{selected_course.course_num} - #{selected_course.course_name}
			p Current prerequisites:
			for prereq in prereqs
				div.form-group
					button(name = "button_id" value = "remove" + prereq.prereq_id type = "submit") Remove this prerequisite
					#{prereq.dept_abbv} #{prereq.course_num} - #{prereq.course_name}
			p Add a prerequisite:
			div.form-group
				select(name="course_to_add")
					option(value="void") #{"Select a course"}
						each course in notPrereqs
							option(value = course, selected = courseSelected == course.course_id) #{course.dept_abbv} #{course.course_num} - #{course.course_name}
			div.form-group
				button(name = "button_id" value = "add" type = "submit") Add as prerequisite
					